@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;   
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
   font-size: 2rem;
   background-color: #dc2626;
}

#logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    text-align: center;
}

#name-div {
   font-family: 'Dancing Script', cursive;
}

#logo {
    height: 6rem;
    width: 6rem;
}

#sections-div {
    display: flex;
    justify-content: space-around;
    background-color: orange;

}

#sections-div > div {
    border-right-style: solid;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color .5s;
}

#sections-div > div:hover {
    background-color: #fbbf24;
}

#sections-div > div:focus { 
    background-color: #ffdb3a; 
    /*color: #ffffff;*/ 
}

.selected-div {
    background-color: #1d4ed8;
}

#container {
    display: flex;
    flex: 1 1 auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #fef08a; 
}

#description {
    font-size: 4rem;
    color: white;
    background-color: rgb(0,0,0,0.7);
    text-align: center;
    padding: 2rem; 
}

footer {
    background-color: #f5f5f5;        
}
